---
import ArchivePanel from "@components/ArchivePanel.svelte";
import I18nKey from "@i18n/i18nKey";
import { i18n } from "@i18n/translation";
import MainGridLayout from "@layouts/MainGridLayout.astro";
import { getSortedPostsList } from "../utils/content-utils";

const sortedPostsList = await getSortedPostsList();
const hasPosts = sortedPostsList.length > 0;
---

<MainGridLayout title={i18n(I18nKey.archive)}>
    {hasPosts ? (
        <ArchivePanel sortedPosts={sortedPostsList} client:only="svelte"></ArchivePanel>
    ) : (
        <div class="card-base px-8 py-6 text-center text-75">
            Belum ada postingan. Silakan buat post baru di blog-fuwari/src/content/posts/.
        </div>
    )}
</MainGridLayout>
